{% load static %}
<!DOCTYPE html>

<html>

<head>

<title>Admin Dashboard</title>

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<style>

.dashboard{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
padding:40px;
}

.card{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
text-align:center;
}

.card h2{
margin:0;
color:#e63946;
}

.card p{
font-size:18px;
}

</style>

</head>

<body>

{% include "navbar.html" %}

<h1>Blood Availability Dashboard</h1>

<div class="dashboard">

<div>Total Donors : {{ total }}</div>

<div>Available Donors : {{ available }}</div>

<div>A+ : {{ a_pos }}</div>

<div>B+ : {{ b_pos }}</div>

<div>O+ : {{ o_pos }}</div>

</div>

</body>

</html>